includes:
    - %currentWorkingDirectory%/vendor/ekino/phpstan-banned-code/extension.neon
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-phpunit/extension.neon
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-webmozart-assert/extension.neon
    # Some rule sets must be included here as they also define default parameters
    - %currentWorkingDirectory%/vendor/shipmonk/phpstan-rules/rules.neon
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-phpunit/rules.neon
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-strict-rules/rules.neon
    - %currentWorkingDirectory%/vendor/roave/no-floaters/rules.neon
    - %currentWorkingDirectory%/vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - %currentWorkingDirectory%/vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

rules:
    - AssoConnect\PHPStanRules\Rules\EnforceHttpsLinksInPhpDocRule
    - AssoConnect\PHPStanRules\Rules\EnforceHttpsLinksInStringScalarRule
    #- AssoConnect\PHPStanRules\Rules\ForbidIdenticalClassComparisonRule (defined as a service)

parametersSchema:
    forbidIdenticalClassComparison: structure([
        allowList: arrayOf(string())
    ])

services:
    -
        class: AssoConnect\PHPStanRules\Rules\ForbidIdenticalClassComparisonRule
        tags:
            - phpstan.rules.rule
        arguments:
            allowList: %forbidIdenticalClassComparison.allowList%

parameters:
    level: 8
    # Stricter setup
    checkMissingCallableSignature: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    forbidIdenticalClassComparison:
        allowList: []
    shipmonkRules:
        forbidFetchOnMixed:
            enabled: false # Too many false positive
        forbidIdenticalClassComparison:
            enabled: true # Replaced by our own rule with an allow list
        forbidMethodCallOnMixed:
            enabled: false # Too many false positive
        forbidNullInBinaryOperations:
            enabled: false # Too many false positive
            blacklist: [
                '**', '!=', '==', '+', 'and', 'or', '&&', '||', '%', '-', '/', '*', # checked by phpstan-strict-rules
                '>', '>=', '<', '<=', '<=>', # checked by AllowComparingOnlyComparableTypesRule
                '===', '!==', '??' # valid with null involved
            ]
